<section class="section-4">
  <p class="section-4-p">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio magni
    culpa eos quos, necessitatibus commodi odit qui vitae illo. Enim corporis
    debitis ea totam doloribus labore assumenda quod dignissimos iure! Id
    voluptatibus reprehenderit aliquid. Ex dolore ipsam tempore doloremque
    facere est unde sint? Pariatur hic asperiores minima eligendi quas fugit
    totam aliquam minus! Voluptatum, facilis provident? Quidem et possimus
    dolorum!
  </p>
</section>
